<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786241683428-2dlmulaove4s77uvghokmjtviu0m6vbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786241683428-2dlmulaove4s77uvghokmjtviu0m6vbg</string>
	<key>API_KEY</key>
	<string>AIzaSyCTt403QiNQuXmmLpQJ0YlCn5Jcu30Nu64</string>
	<key>GCM_SENDER_ID</key>
	<string>786241683428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>etna.2026</string>
	<key>PROJECT_ID</key>
	<string>etna-89a21</string>
	<key>STORAGE_BUCKET</key>
	<string>etna-89a21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786241683428:ios:de9710c721b0ead6b911f1</string>
	<key>DATABASE_URL</key>
	<string>https://etna-89a21-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>